<section class="content-header">
</section>

<section class="content">
  <div class="jumbotron welcome-jumbotron">
    <h1>Bem vindo ao Em Rede</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cadastroclientecrud']">Cadastro de clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cadastroclientepesquisa']">Consulta de clientes</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alteracaoUsuarioRedeDadosSolicitante']">Alteração Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alteracaoUsuarioRedeAprovacaoComponent']">Aprovação Alteração Usuário
            Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alteracaoUsuarioRedeDadosAutorizacao']">Autorização Alteração Usuário
            Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alteracaoUsuarioRedeDadosExecucao']">Execução Alteração Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alteracaoUsuarioRedeDadosHomologacao']">Homologação Alteração Usuário
            Rede</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contaInstitucionalSolicitante']">Solicitação Conta institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contaInstitucionalAprovacao']">Aprovação Conta Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contaInstitucionalAutorizacao']">Autorização Conta Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contaInstitucionalExecucao']">Execução Conta Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contaInstitucionalHomologacao']">Homologação Conta Institucional</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inclusaoUsuarioRedeDadosSolicitante']">Inclusão Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/InclusaoUsuarioRedeAprovacao']">Aprovação Inclusão Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inclusaoUsuarioRedeAutorizacao']">Autorização Inclusão Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inclusaoUsuarioRedeExecucao']">Execução Inclusão Usuário Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inclusaoUsuarioRedeHomologacao']">Homologação Inclusão Usuário Rede</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entradaFinaisDeSemanaEFeriadosDadosSolicitante']">Solicitação Entrada
            Finais de Semana e Feriados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entradaFinaisDeSemanaEFeriadosAutorizacao']">Solicitação Entrada Finais
            de Semana e Feriados Autorização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entradaFinaisDeSemanaEFeriadosExecucao']">Solicitação Entrada Finais de
            Semana e Feriados Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entradaFinaisDeSemanaEFeriadosHomologacao']">Solicitação Entrada Finais
            de Semana e Feriados Homologacação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entradaFinaisDeSemanaEFeriadosAprovacao']">Solicitação Entrada Finais de
            Semana e Feriados Aprovação</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroDadosSolicitante']">Solicitação de Chaveiro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroAgendamento']">Solicitação de Chaveiro Agendamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroConfirmacaoAgendamento']">Solicitação de Chaveiro
            Confirmação de Agendamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroExecucao']">Solicitação de Chaveiro Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroHomologacao']">Solicitação de Chaveiro
            Homologacação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroAprovacao']">Solicitação de Chaveiro Aprovação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoChaveiroAprovacaoExecucao']">Solicitação de Chaveiro
            Aprovação Execução</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoCopiasReprograficasDadosSolicitante']">Solicitação de Cópias
            Reprográficas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoCopiasReprograficasAprovacao']">Solicitação de Cópias
            Reprográficas Aprovação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoCopiasReprograficasAutorizacao']">Solicitação de Cópias
            Reprográficas Autorização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoCopiasReprograficasExecucao']">Solicitação de Cópias
            Reprográficas Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitacaoCopiasReprograficasHomologacao']">Solicitação de Cópias
            Reprográficas Homologação</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gerirBensMoveisDadosSolicitante']">Gerir Bens Móveis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gerirBensMoveisAprovacao']">Gerir Bens Móveis Aprovação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gerirBensMoveisAutorizacao']">Gerir Bens Móveis Autorização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gerirBensMoveisExecucao']">Gerir Bens Móveis Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gerirBensMoveisHomologacao']">Gerir Bens Móveis Homologação</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manutencaoPredialDadosSolicitante']">Manutenção Predial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manutencaoPredialAprovacao']">Manutenção Predial Aprovação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manutencaoPredialAutorizacao']">Manutenção Predial Autorização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manutencaoPredialExecucao']">Manutenção Predial Móveis Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manutencaoPredialHomologacao']">Manutenção Predial Homologação</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/transporteBensMateriaisDadosSolicitante']">Transporte de Bens
            Materiais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tranporteBensMateriaisAprovacao']">Tranporte de Bens Materiais
            Aprovação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/transporteBensMateriaisAutorizacao']">Tranporte de Bens Materiais
            Autorização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tranporteBensMateriaisExecucao']">Tranporte de Bens Materiais Móveis
            Execução</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/transporteBensMateriaisHomologacao']">Tranporte de Bens Materiais
            Homologação</a>
        </li>
      </ul>
    </div>
  </nav>
</section>