<div *ngIf="isSignedUp; else signupForm">
  Registro realizado com Sucesso. Faça o login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" name="login" [(ngModel)]="form.login" #login="ngModel"
          required placeholder="Login" maxlength="20"/>
        <div *ngIf="f.submitted && login.invalid">
          <div *ngIf="login.errors.required">O campo Login é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" name="senha" [(ngModel)]="form.senha" #senha="ngModel"
          required minlength="6" placeholder="Senha" maxlength="20"/>
        <div *ngIf="f.submitted && senha.invalid">
          <div *ngIf="senha.errors.required">O campo senha é obrigatório</div>
          <div *ngIf="senha.errors.minlength">A senha deve ter no mínimo seis caracteres</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Registrar</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Registro falhou!<br />{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>